//color

$primaryone: #252625;
$primarytwo: #A020EA;
$kgreen: #7FFB50;
$kyellow: #FDE303;
$kred: #DC4941;
$kblue: #5ABFF9;
$kpink: #EB4EBA;
$gray: #9b9da0;
$white: #c4c6c8;

@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,800;1,300&display=swap');
@import url("https://use.typekit.net/aav7gcq.css");

$brother: 'brother-1816', sans-serif;
$k2d: 'K2D', sans-serif;


.rb { border: 1px solid red !important;}


